<!DOCTYPE html>
<html>
<head>
    <title>MVC6 Example</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
</head>
<body>
<div class="label label-success">Layout</div>
<div class="container body-content">
    @RenderBody()
</div>
</body>
</html>
