@using System.Threading.Tasks
@model mvc6_example.Models.HomeModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">Hello @Html.DisplayFor(m => m.Greeting)</div>

@Html.DisplayFor(m => m.Statuses)